p{
    font-family: 'Times New Roman', Times, serif;
    color: orange;
    text-align: left;
    font-size: 150%;
}

#button1{
    background-color: orange;
    color: black;
    border: none;
    padding: 20px 35px;
    text-align: left;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 50%;

}

body{
    background: url("images/cemetery.png");
}